<header class="header">
  <nav class="navbar {{~#if site.keys.nonProduction}} navbar-nonProduction {{/if~}} ">
    <div class="navbar-brand">
      <div class="navbar-item">
        <a class="bonita-logo" href="{{{or site.url (or siteRootUrl siteRootPath)}}}"></a>
      </div>

      {{#if site.keys.nonProduction}}
      <div class="navbar-item-nonProduction">
        <p>
          {{#if site.keys.prLink}}
            <a href="{{{site.keys.prLink}}}" target="_blank" rel="noopener noreferrer" class="pr-link" title="View pull request">
              {{site.title}}
              </a>
          {{else}}
            {{site.title}}
          {{/if}}
        </p>
      </div>
      {{/if}}
    </div>

    <div id="topbar-nav" class="navbar-menu">
      {{#unless site.keys.hideNavbarComponentsList}}
      {{#each (isComponentToHide site.components page) }}
      <div class="navbar-item is-hoverable">
        <a class="navbar-link" href="{{{./latest.url}}}">{{{./title}}}</a>
      </div>
      {{/each}}
      {{/unless}}
    </div>

    <div class="navbar-end" id="search-container">
      {{#if (isSearchBarDisplayed site page)}}
      <div class="navbar-item search-item hide-for-print">
        <div id="docsearch"></div>
      </div>
      {{/if}}

      <div class="theme-switch-wrapper">
        <button class="theme-switch-container" id="theme-switcher" aria-label="Theme switcher" aria-pressed="false" role="switch">
          <span class="theme-selector theme-selector-system" title="Switch to dark mode"></span>
          <span class="theme-selector theme-selector-dark" title="Switch to light mode"></span>
          <span class="theme-selector theme-selector-light" title="Switch to system preferences"></span>
        </button>
      </div>

      <button class="navbar-burger" data-target="topbar-nav-mobile">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>
  </nav>

  <nav id="topbar-nav-mobile" class="navbar-menu-mobile">
    {{#unless site.keys.hideNavbarComponentsList}}
    {{#each (isComponentToHide site.components page) }}
    <div class="navbar-item is-hoverable">
      <a class="navbar-link" href="{{{./latest.url}}}">{{{./title}}}</a>
    </div>
    {{/each}}
    {{/unless}}
  </nav>
</header>
